<header style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <div class='search-bar'>
    <form [formGroup]="rForm" (ngSubmit)="searchZip(rForm.value)">

      <label>
        Search Weather By 5 Digit Zip Code
      </label>
      <input
        formControlName='zip'
        type="text"
        placeholder="enter zip code"
        class='user-input'>

      <section
        *ngIf="!rForm.controls['zip'].valid && rForm.controls['zip'].touched">
        {{ zipAlert }}
      </section>
      <input type='submit' value='Submit Form' [disabled]='!rForm.valid' class='submit'>

    </form>
  </div>
</header>
<section *ngIf="locationAlert">
  <h2 class='not-found-alert'>{{ locationAlert }}</h2>
</section>
<section *ngIf="locationWeather" class='full-forecast'>
  <current-weather [weather]="locationWeather"></current-weather>

  <seven-hour-weather [hourlyForecast]="hourlyForecast"></seven-hour-weather>

</section>
