input {
  height: 27px;
  margin: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 2px;
}

ul {
  list-style: none;
  padding: 0 20px;
  min-width: 85px;
  margin: 0 auto;
}

img {
  height: 60px;
  width: 60px;
  margin: 0 auto;
}

header {
  margin: 15px 0 0;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

label {
  font-size: 1.3em;
  margin: auto 20px;
}

h2, h3 {
  margin: 10px 0;
}

header h1 {
  font-size: 2.5em;
}

.user-input {
  font-size: 1em;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 90px;
  color: black;
  background-color: transparent;
  font-weight: bold;
  margin: 0;
  border: 1px solid black;
  border-radius: 5px;
  margin: auto 20px;
}

.submit:hover {
  font-weight: bold;
  border: 1px solid white;
  background-color: rgba(148, 174, 204, 0.56);
}

.full-forecast {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 85vh;
}

.main-img {
  height: 100px;
  width: 100px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.current {
  text-align: center;
  background: rgba(0, 0, 0, 0.60);
  border-radius: 60px;
  margin-bottom: 20px;
  padding: 20px;
  width: 90%;
}

.current-location {
  font-size: 2em;
}

.full-hourly {
  background: rgba(0, 0, 0, 0.60);
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  margin: 25px 0 0;
  width: 90%;
  padding: 20px;
  overflow: scroll;
  justify-content: center;
}

.hourly {
  display: flex;
  flex-direction: column;
}

.hourly-info {
  text-align: center;
  margin: 0 auto;
}

.high-temp {
  color: #fb5757;
  margin: 5px;
}

.low-temp {
  color: #639fff;
  margin: 5px;
}

.not-found-alert {
  text-align: center;
}

@media screen and (max-width: 790px) {

  label {
    font-size: 1.1em;
  }

  .full-hourly {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 575px) {

  form {
    flex-direction: column;
  }

  label {
    margin: 20px auto 0;
  }

  input {
    margin: 20px auto;
  }

  .submit {
    width: 173px;
  }
}
